.header {
    height: 95vh;
    background-image: linear-gradient(
        to left top,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/coding.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 9.5rem;
        opacity: .85;
        border-radius: 3px;
        border-bottom-right-radius: 5rem;
        border-top-left-radius:5rem; 
        box-shadow: 2rem 2rem 6rem rgba($color-black, .5);
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
}