

.active {
    background-color: #f7f7f7;
    .player-name {
        font-weight: 300;
        &::after {
            content: "\2022";
            font-size: 47px;
            position: absolute;
            color: #EB4D4D;
            top: -7px;
            right: 10px;
            
        }
    }
}

.winner {
    background-color: #f7f7f7;
    .player-name {
        font-weight: 300; color: #EB4D4D;
    }
 }
